@page
@model B_Ex_UMU_Digitalisering.Pages._NavMenuModel

<header class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav-color py-sm-0">
        <span class="navbar-brand d-lg-none">MENY</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#responsiveMenu" aria-controls="responsiveMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="mdi mdi-menu"></span>
        </button>
        
        <div class="navbar-collapse collapse justify-content-center" id="responsiveMenu">
            <ul class="navbar-nav nav-fill menu">

                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="menuLink nav-link"
                       id="@(ViewBag.Current == "Home" ? "current" : "")">Hem</a>
                </li>

                <li class="nav-item">
                    <a href="@Url.Action("Map", "Home")" class="menuLink nav-link"
                       id="@(ViewBag.Current == "Map" ? "current" : "")">Spårinfo</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Rating", "Home")" class="menuLink nav-link"
                       id="@(ViewBag.Current == "TopList" ? "current" : "")">Topplistor</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("About", "Home")" class="menuLink nav-link"
                       id="@(ViewBag.Current == "About" ? "current" : "")">Information</a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Account")" class="menuLink nav-link"
                       id="@(ViewBag.Current == "Login" ? "current" : "")">Logga in</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
